/* VARIABLES */
$font-header: 'Source Sans Pro', sans-serif;
$font-menu: #fff;
$font-title: #BEA67C;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1050px;
  position: relative;

  &.home {
    height: 765px;
  }
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.footer {
  position: relative;
  margin: 0;
  height: 50px;
  text-align: center;

  p{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $font-header;
    font-size: 13px;
    line-height: 0;
  }
}