/* VARIABLES */
$font-header: 'Source Sans Pro', sans-serif;
$font-menu: #fff;
$font-title: #BEA67C;

.title {
  height: 805px;
  width: 100vw;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.le-menu {
  flex: 1;

  h3 {
    color: $font-menu;
    font-family: $font-header;
    font-size: 30px;
    margin-left: 66px;
    margin-top: 25px;
    margin-bottom: 0;
    letter-spacing: 8px;
  }

  p {
    color: $font-menu;
    font-family: $font-header;
    font-size: 12px;
    margin-left: 68px;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 4.5px;
  }
}

.rh-menu {
  flex: 1;
  text-align: end;
  padding-right: 13px;
  padding-top: 33px;

  li {
    display: inline;
    margin: 10px 10px;
  }

  .navli {
    color: $font-menu;
    font-family: $font-header;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 200;

    &.active {
      color: $font-title;
    }
  }

  .navli:hover {
    color: $font-title;
  }
}

.main-title {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  margin-bottom: 25px;
  position: relative;

  h1 {
    color: $font-title;
    font-family: $font-header;
    font-size: 77px;
    letter-spacing: 18px;
    margin: 0;
    line-height: 1;
  }
}

.title-lf {
  flex: 1;
  margin-left: 40px;
  margin-bottom: 0;
  padding-top: 18px;
}

.title-rh {
  flex: 1;
  margin-top: 0;
  margin-right: -20px;
  text-align: end;
}

.main-title::after {
  content: '';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 221px;
  height: 5px;
  background: $font-title;
  position: absolute;
  margin-top: 52px;
}

.discovery {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  text-align: center;

  h2 {
    color: $font-menu;
    font-family: $font-header;
    font-weight: 100;
    letter-spacing: 7.5px;
  }

  i {
    color: $font-menu;
    font-size: 30px;
  }
}

#home {
  height: 690px;
  width: 100vw;
  margin: 5px auto;
  padding-top: 20px;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/images/about-us.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-us {
  margin: 10px auto;
  padding: 6px 0 0 30px;
  width: 810px;
  position: relative;

  p {
    color: $font-menu;
    font-family: $font-header;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
  }

  .p-rgh {
    right: 0;
    top: 275px;
    position: absolute;
  }
}